.hero {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  height: 99vh;
  background: url(images/previewImage.jpg);
  background-size: cover;
  background-position: center;
}
 
.specs {
  background-color: black;
  height: 100vh;
  width: 100%;
}