.hero {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  height: 99vh;
  background-image: url(images/natureimagepreviewhej.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  transition-duration: 1s; 
} 

/* .heroBG2 {
  background-image: url(images/previewImage.jpg);
} */

.heroTextH1 {
  background-color: black;
  margin: 5px 10px;
}

.heroTeaserText {
  text-shadow: 1px 1px 2px #000000;
  margin: 5px 10px;
}

.specs {
  background-color: black;
  height: 100%;
  width: 100%;
}

.specList {
  margin: 40px 10px;
  border-bottom: 2px solid white;
}
 

h6 {
  margin:16px;
  font-size: 16px;
}

h3 {
  margin:20px;
  margin-bottom: 16px;
  font-size: 32px;
}
h3:first-child {
  margin:0 20px;
  margin-bottom: 16px;
  font-size: 32px;
}

.testRide {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: center;
  height: 100vh;
  width:100vw;
  background-image: url(images/inmotionpreview.jpg);
  background-size: cover;
  background-position: 75% 75%;
  background-attachment: fixed;
}

.testRideH1 {
  width: 60%;
  font-size: 26px;
  margin: 12px 20px;
}

.requestButtonText {
  margin:0;
  font-size: 24px;
}
.requestTestRide {
  margin: 12px 20px;
  padding: 10px 5px;
  border: 2px solid black;
  background-color: black;
}

.requestTestRide:hover {
  background-color: rgba(50, 50, 50, 0.7);
  border: 2px solid rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.requestTestRide:hover .requestButtonText {
  color: white;
}

.engineering {
  background-color: black;
  height: 100%;
  width: 100%;
}

.engineeringH1 {
  font-size: 32px;
  margin: 0px 20px;
}

.engineeringText {
  font-size: 16px;
  line-height: 1.5em;
  margin: 16px 20px;
}

.engineeringText:first-child {
  margin-top:40px;
}

.readMoreButton {
  display: flex;
  justify-content: center;
  margin: 16px 20px;
  margin-bottom: 40px;
  padding: 10px 10px;
  border: 2px solid white;
  width:40%;
}

.readMoreButton:hover {
  background-color: rgba(50, 50, 50, 0.7);
  border: 2px solid rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.readMoreButton:hover .readMoreText {
  color:white;
}

.readMoreText {
  margin:0;
  font-size: 24px;
}

.overlay2d {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  height: 99vh;
  background-image: url(images/previewImage.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
} 

.folder {
  background-color: black;
  height: 100%;
  width: 100%;
}

.folderH1 {
  font-size: 32px;
  margin: 40px 20px;
  margin-bottom: 16px;
}

.folderText {
  font-size: 16px;
  line-height: 1.5em;
  margin: 16px 20px;
}

.folderImg {
  height: 137px;
  width: 332px;
  margin: 16px 20px;
  margin-top: 40px;
}

.downloadButton {
  display: flex;
  justify-content: center;
  margin: 16px 20px;
  margin-bottom: 40px;
  padding: 10px 10px;
  border: 2px solid white;
  width: 55%;
}

.downloadButtonText {
  margin:0;
  font-size: 24px;
}

.downloadButton:hover {
  background-color: rgba(50, 50, 50, 0.7);
  border: 2px solid rgba(255, 255, 255, 0.1);
  color:white;
  cursor: pointer;
}

.downloadButton:hover .downloadButtonText {
  color:white;
}


footer {
  display: flex;
  flex-flow: column nowrap;
  background-color: black; 
  border-top: 2px solid white;
  margin: 0 20px;
}

.footerList {
  align-self: flex-start;
  list-style: none;
  padding: 0;
  width: auto;
}

.footerList li {
  font-size: 18px;
  font-weight: 700;
  /* margin-top: 40px; */
  margin: 16px 0;
}



/* Dropdown Button */
.dropbtn {
  display: flex;
  align-items: center;
  justify-content: start;
  background-color: black;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  display: flex;
  flex-flow: column;
}

.dropdown-content {
  display: none;
}

.dropdown-content p {
  color: white;
  margin: 10px 5px;
  font-size: 16px;
  text-decoration: none;
  display: block;
}

.show {
  display: block;
}

.arrow {
  margin-left: 10px;
  width: 20px;
  transition-duration: 0.5s;
}

.arrowActive {
  transform: rotate(180deg);
}

.footerDesktop {
  display: none;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  border-top: 2px solid white;
  
}

.listFooterDesktop {
  list-style: none;
  padding: 0;
}

.listFooterDesktop span {
  margin-bottom: 40px;
}

.listFooterDesktop li {
  margin: 10px 0;
}

.copyright {
  display: flex;
  justify-content: center;
  align-self: center;
  border-top: 2px solid white;
  margin: 20px 0;
}

.copyrightText {
  margin: 0;
  text-align: center;
  padding-top: 16px;
  font-size: 12px;
  width: 90%;
}
