.hero {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  height: 99vh;
  background: url(images/previewImage.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
} 

.heroTextH1 {
  background-color: black;
  margin: 5px 10px;
}

.heroTeaserText {
  text-shadow: 2px 2px 4px #000000;
  margin: 5px 10px;
}

.specs {
  background-color: black;
  height: 100%;
  width: 100%;
}

.specList {
  margin: 40px 10px;
  border-bottom: 2px solid white;
}
 

h6 {
  margin:16px;
  font-size: 16px;
}

h3 {
  margin:20px;
  margin-bottom: 16px;
  font-size: 32px;
}
h3:first-child {
  margin:0 20px;
  margin-bottom: 16px;
  font-size: 32px;
}

.testRide {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: center;
  height: 100vh;
  width:100vw;
  background: url(images/inmotionpreview.jpg);
  background-size: cover;
  background-position: 75% 75%;
  background-attachment: fixed;
}

.testRideH1 {
  width: 60%;
  font-size: 26px;
  margin: 12px 20px;
}
.buttonText {
  margin:0;
  font-size: 24px;
}
.requestTestRide {
  margin: 12px 20px;
  padding: 10px 5px;
  border: 2px solid white;
}