header {
  top:0;
  left:0;
}




.navbarDesktop {
  display: none;
}
.navbarMobileBox {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 24px 20px;
  height: 46px;
}
.navbarMobile {
  display: flex;
  flex-flow: column nowrap;
  list-style: none;
  justify-content: center;
  align-items: flex-start; 
  font-size: 32px;
  margin:40px 40px;
  padding-left:0;
}
.hamburgerMenu {
  width: 46px;
  height: 46px;
  align-self: flex-end;
  background-color: aqua;
  cursor: pointer;
}
.hamburgerContent {
  display: none;
  position: fixed;
  top:0;
  left:0;
  background: rgba(0, 0, 0, 0.9);
  height: 100vh;
  width:100vw; 
  z-index: 1;
}
.backButton {
  width:46px;
  height:46px;
  background: aqua;
  float:right;
  margin: 24px 20px;
}
.menuitem {
  margin:20px 0;
}
