.navbarDesktop {
  display: none;
}
.navbarMobileBox {
  display: flex;
  flex-flow: row nowrap;
  margin: 24px 10px;
  height: 46px;
}
.navbarMobile {
  display: flex;
  flex-flow: column nowrap;
  list-style: none;
  justify-content: center;
  align-items: flex-start; 
  font-size: 32px;
  margin:20px 20px;
}
.hamburgerMenu {
  width: 46px;
  height: 46px;
  background-color: aqua;
  cursor: pointer;
}
.hamburgerContent {
  display: none;
  position: absolute;
  top:0;
  left:0;
  background: black;
  height: 100vh;
  width:100vw;
  z-index: 1;
}
.backButton {
  width:46px;
  height:46px;
  background: aqua;
  float:right;
}
.menuitem {
  margin:20px 0;
}
