.hero {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  height: 99vh;
  width: 100%;
  background-image: url(images/natureimagepreviewhej.jpg);
  background-size: cover;
  -webkit-background-size: cover;
  background-position: 40%;
  background-attachment: fixed;
  transition-duration: 1s; 
  overflow: hidden;
} 

.completedMailSignup {
  display: none;
  opacity: 0;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 38px;
  border-radius: 4px;
  border: 2px solid white;
  padding: 0 10px;
  transition-duration: 0.5s;
}

/* .heroBG2 {
  background-color: rgba(0, 0, 0, 1);
} */

.mailField {
  display: flex;
  flex-flow: row nowrap;
  margin: 10px 0;
}

.mailInput {
  background: none;
  border-radius: 4px;
  width: 50vw;
  border: 2px solid white;
  padding: 10px 10px;
}

.mailInput::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  text-align: center;
  color: white;
  opacity: 0.9; /* Firefox */
}

.mailInput:focus::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  text-align: left;
  color: white;
  opacity: 0.7; /* Firefox */
} 

::-ms-input-placeholder { /* Microsoft Edge */
  color: white;
}

.mailInput:focus {
  outline-offset: -1px;
  outline: 4px solid rgba(100, 150, 255, 0.6);
}

.mailButton {
  margin: 0 20px;
  background: none;
  border: none;
}

.mailButtonLine1 {
  width: 25px;
  height: 5px;
  background-color: #FFFFFF;
  margin: 10px 0;
  transition: 0.6s;
  transition-timing-function: ease-in-out;
  transform: rotate(45deg);
}

.mailButtonLine2 {
  width: 25px;
  height: 5px;
  background-color: #FFFFFF;
  margin: 10px 0;
  transition: 0.6s;
  transition-timing-function: ease-in-out;
  transform: rotate(-45deg);
}

.mailButtonChange .mailButtonLine1 {
  width: 15px;
  transform: rotate(40deg) translate(10px, 13px);
}

.mailButtonChange .mailButtonLine2 {
  transform: rotate(-50deg) translate(5px, 2px);
}

.mailButtonDisplay {
  display: none;
}

.displayConfirmation {
  display: flex; 
  transition-duration: 1s;
}

.displayConfirmationTransition {
  opacity: 1;
}

.heroTextH1 {
  opacity: 1;
  margin: 5px 0;
  transition-duration: 2s;
}

.heroTeaserText {
  opacity: 1;
  margin: 5px 0;
  transition-duration: 2s;
}


.backgroundGrey {
  position: absolute;
  opacity: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  width: 90%;
  padding: 0 5%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition-duration: 2s;
  z-index: 0;
}

.heroShowOverlay {
  opacity: 1;
}

.specs {
  background-color: black;
  height: 100%;
  width: 100%;
}

.specList {
  margin: 40px 5%;
  /* border-bottom: 2px solid white; */
}
 
.specListTitle {
  margin: 20px 0;
  margin-bottom: 16px;
  font-size: 32px;
}
.specListTitle:first-child {
  margin:0;
  margin-bottom: 16px;
  font-size: 32px;
}

.specListText {
  margin: 16px 0;
  font-size: 16px;
}

.testRide {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: center;
  height: 100vh;
  width:100vw;
  background-image: url(images/inmotionpreview.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  background-position: 75% 75%;
  background-attachment: fixed;
}

.testRideH1 {
  width: 60%;
  font-size: 26px;
  margin: 12px 5%;
}
.name {
  margin: 12px 5%;
}

.requestButtonText {
  margin:0;
  font-size: 24px;
}

.requestTestRide {
  margin: 12px 5%;
  padding: 10px 10px;
  border: 2px solid black;
  background-color: black;
}

.requestTestRide:hover {
  background-color: rgba(50, 50, 50, 0.7);
  border: 2px solid rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.requestTestRide:hover .requestButtonText {
  color: white;
}

.engineering {
  background-color: black;
  height: 100%;
  width: 100%;
  padding: 40px 0;
}

.engineeringH1 {
  font-size: 32px;
  margin: 0px 5%; 
}

.engineeringText {
  font-size: 16px;
  line-height: 1.5em;
  margin: 16px 5%;
  margin-bottom: 24px;
} 

.readMoreButton {
  display: flex;
  justify-content: center;
  margin: 16px 5%;
  margin-bottom: 0;
  padding: 10px 10px;
  border: 2px solid white;
  width: 50%;
  background-color: transparent;
}

.readMoreButton:hover {
  background-color: rgba(50, 50, 50, 0.7);
  border: 2px solid rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.readMoreButton:hover .readMoreText {
  color:white;
}

.readMoreText {
  margin: 0;
  font-size: 24px;
}

.overlay2d {
  display: flex;
  overflow-x: scroll;
  height: 90vh;
  background: black;
} 

.overlay2d::-webkit-scrollbar-track {
  background: #000000;
}
.overlay2d::-webkit-scrollbar {
  width: 1px;
  height: 6px;
}
.overlay2d::-webkit-scrollbar-thumb {
  background: #FFFFFF; 
} 

.techOverlayImage {
  position: relative;
  object-fit: cover;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 0;
}

.fullTechOverlayImage {
  position: relative;
  object-fit: cover;
  height: 100%;
  top: 0; 
  z-index: 1;
  opacity: 0; 
  transition-duration: 1.5s; 
}

.fullTechOverlayImageShow {
  opacity: 1;
} 

.folder {
  display: flex;
  flex-flow: column nowrap;
  background-color: black;
  height: 100%;
  width: 90%;
  padding: 0 5%;
}

.folderH1 {
  font-size: 32px;
  margin: 40px 0;
  margin-bottom: 16px;
}

.folderText {
  font-size: 16px;
  width: 95%;
  line-height: 1.5em;
  margin: 16px 0;
}

.folderImg { 
  height: auto;
  width: 100%;
  margin: 16px 0;
  margin-top: 40px;
}

.downloadButton {
  display: flex;
  justify-content: center; 
  padding: 10px 10px;
  border: 2px solid white;
  width: 100%;
  background-color: transparent;
}

.downloadButtonText {
  margin:0;
  font-size: 24px;
}

.download {
  width: 50%;
  height: 50px;
  margin: 16px 0;
  margin-bottom: 40px;
  text-decoration: none;
}

.downloadButton:hover {
  background-color: rgba(50, 50, 50, 0.7);
  border: 2px solid rgba(255, 255, 255, 0.1);
  color: white;
  cursor: pointer;
}

.downloadButton:hover .downloadButtonText {
  color:white;
}


