
@media (min-width:1024px) {
  .hidden-mobile {
    display: none;
  }
  
  .navbarDesktop {
    position: absolute;
    width:90%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
  }
  
  .arrowNavbar {
    cursor: pointer;
    height: 10px;
    transition-duration: 0.5s; 
  }
  
  .dropdownLanguageContent {
    display: none;
    cursor: pointer;
    position: absolute;
    z-index: 1;
  }
  
  .dropdownLanguage:hover .dropdownLanguageContent {
    display: block;
  }
  
  .dropdownLanguage:hover .arrowNavbar {
    transform: rotateZ(180deg) rotateY(180deg);
  }
  
  .menuDesktop {
    display: flex;
    flex-flow: row nowrap;
    list-style: none;
  }
  
  .menuItemDesktop {
    margin:10px;
  }
  
  .linkMenuItemDesktop {
    text-decoration: none;
    color: black;
  }
  
  .linkMenuItemDesktop:hover {
    color: white;
    text-shadow: 1px 1px 1px black;
  }
  
  a.linkMenuItemDesktop {
    text-shadow: none;
  }
  
  .heroTextH1 {
    font-size: 50px;
  }
  
  .heroTeaserText {
    width: 40vw;
    font-size: 16px;
  }
  
  .mailField {
    width: 25vw;
  }
  
  .specs {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    height: 50vh;
    width: 70%;
    padding: 0 15%;
    margin:auto;
  }
  
  .specList {
    border-left: 2px solid white;
    padding: 40px 20px;
    width: 100%;
    margin: 20px 0px;
  }
  
  .specList:last-child {
    border-right: 2px solid white;
  }
  
  .specListTitle {
    width: auto;
    font-size: 32px;
  }
  
  .testRide {
    flex-flow: column nowrap;
    align-items: flex-end;
    justify-content: center;
    background-image: url(images/inmotionpreviewDesktop.jpg);
    background-position: center;
  }
  .testRideH1 {
    text-align: right;
    width: 42%;
    font-size: 48px;
    margin-top: 12%;
  }
  
  .name {
    margin: 12px 5%;
  }
  
  .engineeringBox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
  }
  
  .engineering {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;
    height: 210px;
    width: 60%;
    padding: 0 20%;
    padding-top: 95px;
    padding-bottom: 95px;
  }
  
  .engineeringH1 {
    order: 0;
  }
  
  .engineeringText { 
    width: 60%;
    margin-top: 0;
    margin-bottom: auto;
    order: 2;
    /* flex-grow: 1; */
  }
  
  .readMoreButton {
    order: 1;
    width: auto;
    padding: 10px;
    margin-bottom: auto;
  }  
  
  .overlay2d {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 99vh;
    width: 100%;
    background-image: url(images/tekniskOverlay.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    transition-duration: 2s; 
  }
  
  .show2dOverlayDesktop {
    background-image: url(images/fullTekniskOverlay.jpg);
  }
  
  .hej {
    display: none;
  }
  
  .hej1 {
    display: none;
  }
  
  .folder {
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;
    height: 400px;
    width: 60%;
    padding: 2.5% 20%;
  }
  
  .folderImg {
    order: 4;
    height: 40%;
    width: 40%;
  }
  
  .folderText {
    width: 40%;
  }
  
  .download {
    width: 30%;
  }
  
  .hamburgerMenu {
    display: none;
  }
  
  .footerDesktop {
    display: flex;
  }
  
  .footerListMobile {
    display: none;
  }
  
  .social {
    justify-content: space-evenly;
  }
  
  .socialIcons:hover {
    cursor: pointer;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .heroTeaserText {
    width: 40vw;
    font-size: 16px;
  }
  
  .mailField {
    width: 30vw;
  }
  
  .specs {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
  }
  
  .testRide {
    background-image: url(images/inmotionpreviewDesktop.jpg);
    background-position: center;
  }
  
  .overlay2d {
    display: flex;
  }
  
  .show2dOverlayTablet {
    background-image: url(images/fullTekniskOverlay.jpg);
  }
  
}